<?xml version="1.0" encoding="UTF-8" ?>
<wicket:panel xmlns:wicket="http://wicket.apache.org">
	<div wicket:id="feedback"></div>
	<form wicket:id="inputForm" class="inputForm">
		Nombre: <input wicket:id="nombre" type="text" size="10"/><br/>
		Lider:	<select wicket:id="lider" ></select>
		Integrantes:	<select wicket:id="integrantes" ></select><br/>
		Tipo de Items:	<select wicket:id="tipoItems" ></select>
		<input type = "submit" value = "Submit"/>
		<input type="button" value="Cancelar" wicket:id="closeCancel" />		
	</form>	
</wicket:panel>