<?xml version="1.0" encoding="UTF-8" ?>
<wicket:panel xmlns:wicket="http://wicket.apache.org">
	<div wicket:id="feedback"></div>
	<form wicket:id="inputForm" class="inputForm">
		Nombre: <input wicket:id="nombre" type="text" size="10"/><br/>
		UserName: <input wicket:id="userName" type="text" size="10"/><br/>
		Password: <input wicket:id="password" type="text" size="10"/><br/>
		Login habilitado?: <input wicket:id="habilitado" type="checkbox" /><br/>
		Roles: <select wicket:id="roles" ></select>
		<input type="submit" value="Grabar"/>
		<input type="button" value="Cancelar" wicket:id="closeCancel" />		
	</form>	
</wicket:panel>