<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:wicket="http://wicket.apache.org">
<wicket:panel >
	<span wicket:id="navigator">[dataview navigator]</span>
	<table cellspacing="0" class="dataview">
		<tr>
			<th wicket:id="orderByName">Item</th>
			<th>Responsable</th>
            <th>Comentario</th>
            <th>Estado</th>
            <th>Fecha Inicio</th>
            <th>Fecha fin</th>
		</tr>
		<tr wicket:id="sorting">
			<td><span wicket:id="item">[item]</span></td>
            <td><span wicket:id="responsable">[responsable]</span></td>
			<td><span wicket:id="comentario">[comentario]</span></td>
            <td><span wicket:id="estado">[estado]</span></td>
            <td><span wicket:id="fechaInicio">[fechaInicio]</span></td>
            <td><span wicket:id="fechaFin">[fechaFin]</span></td>
		</tr>
	</table>
</wicket:panel>
</html>

