<?xml version="1.0" encoding="UTF-8" ?>
<wicket:panel xmlns:wicket="http://wicket.apache.org">
	<div wicket:id="feedback"></div>
	<form wicket:id="inputForm" class="inputForm">
		Desde el estado: <input wicket:id="estado" type="text" size="10"/><br/>    
		Pr&oacute;ximos estados:<br/> 
        <span wicket:id="proximosEstados">
            <span wicket:id="proximosEstadosCheckBox">
               <input type="checkbox" wicket:id="check"/><label wicket:id="proximoEstado" style="display:inline;"></label><br/>
            </span>
        </span>    
		<input type="submit" value="Grabar"/>
		<input type="button" value="Cancelar" wicket:id="closeCancel" />		
	</form>	
</wicket:panel>