<?xml version="1.0" encoding="UTF-8" ?>
<wicket:panel xmlns:wicket="http://wicket.apache.org">
	<div wicket:id="feedback"></div>
	<form wicket:id="inputForm" class="inputForm">
		Estados iniciales: <!-- 		<select wicket:id="estadosIniciales" size="5"/> -->	<br/>
		<span wicket:id="estadosIniciales">
		<span wicket:id="estadosInicialesCheckBox">
           <input type="checkbox" wicket:id="check"/><label wicket:id="estadoInicial" style="display:inline;"></label>
        </span>
        </span>                                
		<input type="submit" value="Grabar"/>
		<input type="button" value="Cancelar" wicket:id="closeCancel" />		
	</form>	
</wicket:panel>