<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">{hibernate.connection.driver_class}</property>
		<property name="connection.url">{hibernate.connection.url}</property>
		<property name="connection.username">{hibernate.connection.username}</property>
		<property name="connection.password">{hibernate.connection.password}</property>
		<property name="dialect">{hibernate.dialect}</property>
		<property name="current_session_context_class">thread</property>
		<property name="hibernate.show_sql">{hibernate.show_sql}</property>
	   	<property name="javax.persistence.validation.group.pre-persist">javax.validation.groups.Default</property>
       	<property name="javax.persistence.validation.group.pre-update">javax.validation.groups.Default</property>
      
		<mapping class="edu.unlp.informatica.postgrado.seguimiento.item.model.ConfiguracionItem" />
		<mapping class="edu.unlp.informatica.postgrado.seguimiento.item.model.Estado" />
		<mapping class="edu.unlp.informatica.postgrado.seguimiento.item.model.Item" />
		<mapping class="edu.unlp.informatica.postgrado.seguimiento.item.model.Persona" />
		<mapping class="edu.unlp.informatica.postgrado.seguimiento.item.model.Prioridad" />
		<mapping class="edu.unlp.informatica.postgrado.seguimiento.item.model.Proyecto" />
		<mapping class="edu.unlp.informatica.postgrado.seguimiento.item.model.TipoItem" />
		<mapping class="edu.unlp.informatica.postgrado.seguimiento.item.model.HistorialItem" />
		
	</session-factory>
</hibernate-configuration>