<?xml version="1.0" encoding="UTF-8" ?>
<wicket:panel xmlns:wicket="http://wicket.apache.org">
	<div wicket:id="feedback"></div>
	<div wicket:id="modal2"></div>
	Si desea crear un Tipo de Item nuevo haga click  
		<a wicket:id="open">aqu&iacute;</a>		
	<form wicket:id="inputForm" class="inputForm">
		Proyecto: <select wicket:id="proyecto" ></select>
			
		Tipo Item:<select wicket:id="tipoItem" ></select><br/>
		Titulo: <input wicket:id="titulo" type="text" size="10"/><br/>
		Desripcion: <input wicket:id="descripcion" type="text" size="10"/><br/>
		Prioridad: <select wicket:id="prioridad" ></select>
		Estado:	<select wicket:id="estado" ></select>
		Responsable: <select wicket:id="responsable" ></select><br/>
		<input type="submit" value="Grabar"/>
		<input type="button" value="Cancelar" wicket:id="closeCancel" />		
	</form>	
</wicket:panel>