<?xml version="1.0" encoding="UTF-8" ?>
<wicket:panel xmlns:wicket="http://wicket.apache.org">
	<form wicket:id="inputForm" class="inputForm">
		First Name: <input wicket:id="firstname" id="firstname" type="text" size="40"/><br>
		Estado: 
		<select wicket:id="estadoSelection" id="estadoSelection">
			<option>foo</option>
			<option>bar</option>
	  	</select>
		<div style="margin: 1em">
			This is panel content!
			<p>
				Date text field to demonstrate AJAX header contribution <span
					wicket:id="dateTimeField"></span>
			</p>
		</div>		
	</form>
	  	<input type="button" value="Guardar" onclick="getElementById('closeOK').click(); return false;"/><a id="closeOK" wicket:id="closeOK"></a><br/>
		<input type="button" value="Cancelar" onclick="getElementById('closeCancel').click(); return false;"/><a id="closeCancel" wicket:id="closeCancel"></a>
	
</wicket:panel>