<?xml version="1.0" encoding="UTF-8" ?>
<wicket:panel xmlns:wicket="http://wicket.apache.org">
	<div wicket:id="feedback"></div>
	<form wicket:id="inputForm" class="inputForm">
		Estados iniciales:<br/> 
		<span wicket:id="estadosIniciales">
    		<span wicket:id="estadosInicialesCheckBox">
               <input type="checkbox" wicket:id="check"/><label wicket:id="estadoInicial" style="display:inline;"></label><br/>
            </span>
        </span>         
		<input type="submit" value="Grabar"/>
		<input type="button" value="Cancelar" wicket:id="closeCancel" />		
	</form>
	<legend title="Nota">
        Estos estados iniciales indican de que estado se puede ir a que otro.<br/>
        No necesariamente tienen que ser iniciales. <br/>
        Ya que sino no podrian definirse las transiciones intermedias. 
    </legend>	
</wicket:panel>